{% extends 'container.html' %}
{% block content %}
	<h3>Recent Calls</h3>
	<p>Shown below are calls you have received, latest first.</p>

	<div class="row">
    	<div class="col-md-3">From</div>
    	<div class="col-md-3">Duration</div>
    	<div class="col-md-3">Voicemail</div>
    	<div class="col-md-3">Read</div>
    </div>
	{% for call in calls %}
		{{ call.fromNumber }}
		<div class="row">
	    	<div class="col-md-3">{{ call.fromNumber }}</div>
	    	<div class="col-md-3">{{ call.format_duration() }}</div>
	    	<div class="col-md-3">
	    	{% if call.recordingUrl %}
	    	<a href="{{ url_for('listen_voicemail', call_id=call.callSid) }}">Play ({{ call.format_recording_duraton() }})</a>
	    	{% endif %}
	    	</div>
	    	<div class="col-md-3">
	    		{% if call.recordingUrl %}
	    			{% if call.listened %}Listened{% else %}NEW{% endif %}
	    		{% endif %}
	    	</div>
	    </div>
	{% endfor %}
{% endblock %}